/*************** Common Styles Start *****************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans&family=Poppins:wght@400;500;700&family=Work+Sans:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    outline: 0;
    border: 0;
    background-color: #FF900E;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
/*************** Common Styles End *****************/
/*************** Header Styles Start *****************/
header {
    background-color: #FF900E1A;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo{
    font-weight: 700;
    font-size: 25px;
    padding-top: 30px;
}
.navigation {
    display:flex;
    padding-top: 30px;
}
.navigation li{
    list-style: none;
    margin: 10px;
    /* text-transform: uppercase; */
    color: #424242;
    font-weight: 600;
    padding: 10px 20px;
}
.items ul{
    display:flex;
    list-style: none;
}

.item {
    padding: 0 10px; 
}

/*************** Header Styles End *****************/
/*************** Banner Styles Start *****************/
.banner {
    /* height: calc(100vh - 80px); */
    max-width: 1200px;
    margin: 0 auto;
}
.banner-upper{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 35px;
}
.banner-upper h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 10px;
}
.banner-upper p{
    text-align: center;
    color: #727272;
    font-size: 14px;
    margin: 10px 0;
    line-height: 1.5;
    padding: 10px;
}
.banner-down{
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-down img{
    width: 100%;
    padding-bottom: 40px;
}
/*************** Banner Styles End *****************/
/*************** Feature Styles Start *****************/
#feature{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 45px 30px;
    padding: 20px;
}
.feature-left img{

}
.feature-right h1{
    font-size: 35px;
    font-weight: 500;
    color: #131313;
    margin-bottom: 10px;
}
.feature-right p {
    color: #727272;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
}
/*************** Feature Styles End *****************/
/*************** Resources Styles start *****************/
#resources{
    display: flex;
    margin-bottom: 30px;
}
.resources-left {
    margin: 0 50px;
    max-width: 500px;
}

.resources-heading h1{
    color: #131313;
    font-weight: 700;
    font-size: 35px;
    border-left: 5px solid #FF900E;
    padding: 10px;
}
.resources-heading p{
    color: #727272;
    font-size: 16px;
    margin: 20px 0;
    font-size: 16px;
}
.resources-item{
    padding: 30px 30px;
    box-shadow: 10px 10px 5px #0000000F;
}
.resources-item p{
    color: #727272;
}
.resources-description {}

.resources-right img{
    width: 100%;
    margin: 0 30px;
}
/* .resources-button{
    margin-top: -70px;
} */
.btn {
    font-size: 50px;
    margin-top: -70px;
    padding-bottom: 20px;
    line-height: 1;
}
/*************** Resources Styles End *****************/
/*************** Facts Styles Start *****************/
#facts{
    margin: 40px 40px;
}
.facts-upper{
    padding-left: 20px;
}
.facts-upper h1{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.facts-upper p{
    color: #727272;
    font-size: 14px;
}

.facts-lower {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; */
    margin-bottom: 50px;
}
.facts-items{
    text-align: center;
    border: 1px solid #FF900E;
    margin: 40px 45px;
    padding: 30px 15px;
    border-radius: 10px;
}
.facts-items img{
    width: 20%;
    height: auto;
}
.facts-items h1 {

}
.facts-items p {

}